<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/fonts.css" rel="stylesheet">
    <link href="static/styles/media.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/components/favicon.ico">


    <title>HUBLAB</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>HUBLAB<h1>
            <h1>mentorando startups<h1>
        </div>
        <ul>
            <a href="#"><li>Início</li></a>
            <a href="#"><li>Serviços</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>Contatos</li></a>
            <a href="#" id="inscreva-se-btn"><li>Já tem uma conta?</li></a>
         </ul>   
    </header>

    <main>
        <aside>
            <h2><span>Registre-se agora</span></h2>
            <h2>Na HUBLAB</h2>
            <p>Para apoiar a jornada de crescimento sustentável das Startups,
                por meio de mentorias de alta performance, 
                focadas em acelerar a captação de investimentos e 
                atingir a excelência em governança corporativa</p>
                <form action="{% url 'home-form' %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="container">
                        <div class="card">
            
                            <div class="justify-center">
                                <h2>cadastrar-se</h2>
                            </div>
                            <div class="label_float">
                                <input type="text" name="nome" id="nome" placeholder="Nome/Empresa" autocomplete="off" required>
                                <label for="nome"></label>
                            </div>
                            
                        
                            <div class="label_float">
                                <input type="email" name="email" id="email" placeholder="E-mail" autocomplete="off" required>
                                <label for="email"></label>
                            </div>
            
                            <div class="label_float">
                                <input type="tel" name="telefone" id="telefone" placeholder="Telefone" minlength="15" maxlength="15"
                                onkeyup="handlePhone(event)" required> 
                                <label for="telefone"></label>
                            </div>
                        </form>
                        <div class="justify-center">

                            <div>
                                <input type="submit" class="btn btn-success" onclick="cadastrar()" value="Salvar">
                            </div>
                    
                        </div>
        </aside>

        <article>
            <img src="static/components/images/imghub.png" alt="img">
        </article>
    </main>
</body>
<script>
    function cadastrar() {
        var verifica = document.getElementById( 'telefone', 'nome').value
        let e = document.getElementById('email').value;
        let result = e.includes('@');
        console.log(result)
        if (verifica == '' || result == false) {
            alert('Preencha todos os campos')
        } else {
            alert("Cadastrado com successo")
        }
    }
    const handlePhone = (event) => {
        let input = event.target
        input.value = phoneMask(input.value)
    }

    const phoneMask = (value) => {
        if (!value) return ""
        value = value.replace(/\D/g, '')
        value = value.replace(/(\d{2})(\d)/, "($1) $2")
        value = value.replace(/(\d)(\d{4})$/, "$1-$2")
        return value
    }
</script>
</html>